<div class="cell donate-bar">
	<div class="inner">
		<h3>Contribute Today!</h3>
		<p>Joann Ariola has the local experience needed to find common-sense solutions to the current issue our District is facing, fight for our fair share from City Hall and give all of us the quality of life we deserve, so our children and grandchildren can raise their families here too.</p>

		{{> donate-numbers}}
	</div>
</div>