<nav>
	<ul class="top-nav">
		<li><a href="/">Home</a></li>
		<li><a href="/bio">Bio</a></li>
		<li><a href="/news">News</a></li>
		<li><a href="/volunteer">Volunteer</a></li>
		<li><a href="/contact">Contact</a></li>
		<li class="hide-for-large donate-button"><a href="{{DONATE_URL}}">Donate</a></li>

		{{> social-icons class="show-for-large"}}


		<li class="social hide-for-large">
			<ul>
				{{> social-icons}}
			</ul>
		</li>
	</ul>
</nav>