<div class="cell newsletter-bar">
	<h4><i class="icon envelope"></i> Join Our Mailing List</h4>
	<p id="bar-join-form-message"></p>
	<div class="form">
		<form id="bar-join-form" action="https://joannariola.us17.list-manage.com/subscribe/post?u=d78ee7c52dcae9de24e9efe43&amp;id=cbf23801d5" method="post" name="bar-subscribe-form">
			<input type="hidden" name="b_name" id="b_name" value="7d00529cc08ebc48d83096c4f" />
	    <input type="hidden" name="id" value="5e3c61dfbc" />
			<input type="email" value="" name="EMAIL" placeholder="E-mail Address" id="mce-EMAIL-bar" class="input-email" />
			<input type="submit" value="Sign Up" class="button solid-primary" />
		</form>
  </div>
</div>
