<div class="cell sub-head-section">
  <h3 class="sub-head" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    {{title}}
  </h3>
  {{#if description}}
  <p class="sub-head-desc" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="100">{{description}}</p>
  {{/if}}
</div>