<div class="grid-container container-inner">
  <div class="grid-x align-center">
    
{{> feature smallimg="Joann-Ariola-Splash-Photo-Large.jpg" largeimg="Joann-Ariola-Splash-Photo-Large.jpg" smallimg2="Joann-Ariola-Splash-Photo-Large-2.jpg" largeimg2="Joann-Ariola-Splash-Photo-Large-2.jpg"}}

    <div class="cell section-padding">
      <div class="grid-x align-center">

        <div class="cell" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <div class="grid-x grid-margin-x align-center">

            {{> page-title title="About Joann" }}


            <div class="cell small-10 medium-9 large-7 section-padding" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <p>Joann Ariola has been living and leading in the 32nd Council District for decades. She is a longtime Queens civic leader, wife, mother and grandmother whose career has always been focused on forging positive relationships between her neighbors and government agencies to promote peace and public safety.</p>

              <p>With 30 years of experience working for two mayors, as well as members of the NYC Council on both sides of the aisle, not for profits and private industry, Joann knows how to help us get through the challenging time all New Yorkers have been facing, bring us to brighter days, push through this pandemic and bring back our neighborhoods, better and stronger than ever&#8230;together.</p>

              <p>Joann knows what it&rsquo;s like to raise a family in the 32nd Council District because she has and still is. As President of the Howard Beach Lindenwood Civic Association and Member of Community Board 10, Joann knows the importance of maintaining strong relationships between the police and her community. She will always support our first responders. As a show of that support, Joann and the Civic have led a blue ribbon initiative each year so that local police can be encouraged by seeing the support and appreciation they have earned. As President of the Civic, Joann hosts monthly meetings, so residents can voice their concerns to local elected officials, government agencies, the NYPD and various other relevant guest speakers. She is active in promoting Build the Block Initiative meetings with NYPD Neighborhood Coordination Officers.  To get local youth off on the right foot, she participates in NYPD Meet and Greets so that young people get to know and build relationships with their local police.  As a result of the homelessness crisis and the city doing nothing to help those with mental illness, Joann is active in organizations that collect toys and supplies for those in need which are donated to families of domestic violence, and local family shelters.</p>

              <p>As the eldest of three children, her passion for community service came from the example set by her parents. They had a true commitment to helping others, especially the less fortunate.</p>

              <p> During the COVID-19 lockdown, Joann called for more testing and then vaccination sites to be located right in the district. She stood up for small businesses unfairly closed by the Governor and Mayor and then used as cash machines with draconian fines and inconsistent regulations. She is committed to helping small business owners find access to grants and incentives to help them survive.</p>

              <p> Joann&rsquo;s community involvement began with her service as a board member for her children&rsquo;s Parent&rsquo;s Association. Her work there brought her to the realization that while a parent&rsquo;s involvement begins at home, it certainly does not end there.  &#160; Through her years of service, Joann has been recognized for outstanding service by many organizations, federal, state and city proclamations from elected officials, was chosen as the deputy Grand Marshall as well as the Grand Marshall of the Rockaway St. Patrick&rsquo;s Day Parade and the Howard Beach Columbus Day Parade. She was recognized as a Woman of Distinction by then Senator Serphin Maltese, named an honoree for Power Women of the year by City and State, as well as the Queens Courier, Italian American Woman of the Year for the International Society of SS Cosma and Damiano, Woman of the Year for the Howard Beach Civic Association, received the Community Service Award from the Association of Chinese American Physicians (ACAP) and innumerable certificates of appreciation from communities throughout the Borough for her work.</p>

              <p>Joann Ariola has the local experience needed to find common-sense solutions to the current issues our District is facing, fight for our fair share from City Hall and give all of us the quality of life we deserve, so our children and grandchildren can raise their families here too.</p>
          </div>
          
             
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
