
<div class="grid-container container-inner bg-grey">
  <div class="grid-x align-center">
      {{> feature smallimg="Joann-Ariola-Splash-Photo-Large.jpg" largeimg="Joann-Ariola-Splash-Photo-Large.jpg" smallimg2="Joann-Ariola-Splash-Photo-Large-2.jpg" largeimg2="Joann-Ariola-Splash-Photo-Large-2.jpg"}}

    <div class="cell small-11 medium-10 large-9 section-padding">
      <div class="grid-x">

      
        <div id="contact-form-outer" class="cell medium-12 form-container" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

          <div>

            <div class="contact-section">
              <h3 class="sub-head text-left">Contact Joann</h3>
              <p id="contact-message">Please complete the following form, and someone will get back to you shortly.</p>
              <form id="contact-form" method="post" action="/contact">
                <div class="double-inputs">
                  <div>
                    <label for="first_name"><strong>First Name</strong></label>
                    <input type="text" name="first_name" id="first_name" />
                  </div>
                  <div>
                    <label for="last_name"><strong>Last Name</strong></label>
                    <input type="text" name="last_name" id="last_name" />
                  </div>
                </div>
                <label for="email"><strong>Email Address</strong></label>
                <input type="text" name="email" id="email" />
                <label for="phone"><strong>Phone Number</strong> (optional)</label>
                <input type="text" name="phone" id="phone" />
                <label for="comments"><strong>Comments</strong></label>
                <textarea name="comments" id="comments" rows="10" cols="30"></textarea>
                <input type="submit" value="Submit" class="button solid-primary full-width" />
              </form>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=6LfORh4aAAAAAKHUUOF4EkaZGGPJ5HOqOdzDjMWE"></script>

