<div class="grid-container container-inner">
    <div class="grid-x align-center">
   {{> feature smallimg="Joann-Ariola-Splash-Photo-Large.jpg" largeimg="Joann-Ariola-Splash-Photo-Large.jpg" smallimg2="joann-ariola-feature-4.jpg" largeimg2="joann-ariola-feature-4.jpg"}}

    <div class="cell large-6 hp-donate-bar">
        <div class="inner" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <h3>Joann Ariola for City Council</h3>
            <p>Joann Ariola has the local experience needed to find common-sense solutions to the current issues our District is facing, fight for our fair share from City Hall and give all of us the quality of life we deserve, so our children and grandchildren can raise their families here too.</p>

        </div>
    </div>



    <div class="cell large-6 hp-signup-bar">
        <div class="inner" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <h3>Join Our Campaign</h3>
            <form id="hp-join-form" action="https://joannariola.us17.list-manage.com/subscribe/post-json?u=d78ee7c52dcae9de24e9efe43&amp;id=cbf23801d5&c=?" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <input type="hidden" name="id" value="cbf23801d5">
                <div class="double-inputs">
                    <div>
                        <label for="mce-FNAME">First Name</label>
                        <input type="text" placeholder="First Name" name="FNAME" id="mce-FNAME" />
                    </div>
                    <div>
                        <label for="mce-LNAME">Last Name</label>
                        <input type="text" placeholder="Last Name" name="LNAME" id="mce-LNAME" />
                    </div>
                </div>
                <label for="mce-EMAIL">E-mail Address</label>
                <input type="email" value="" name="EMAIL" placeholder="E-mail Address" id="mce-EMAIL">
                <label for="mce-MMERGE5">Mobile Phone</label>
                <input type="text" placeholder="Mobile Phone (optional)" name="MMERGE5" value="" id="mce-MMERGE5" />
                <p class="disclaimer">By submitting your cell phone number you are agreeing to receive periodic text messages from this organization. Message and data rates may apply. Text HELP for more information. Text STOP to stop receiving message</p> 
                <input type="submit" value="Sign Up" class="button outline-white full-width" />
            </form>
        </div>
    </div>

    <div class="cell hp-section highlights-section" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        
        <h3 class="sub-head" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            Joann Ariola For City Council - District 32
        </h3>
        <p class="sub-head-desc" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="100">Joann Ariola has been living and leading in the 32nd Council District for decades.  She is a longtime Queens civic leader, wife, mother and grandmother whose career has always been focused on forging positive relationships between her neighbors and government agencies to promote peace and public safety. </p>

        <a href="/news" class="button outline-primary align-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom">About Joann</a>

    </div>

    <div class="cell hp-section whyrunning-hp" data-aos="fade-up" data-aos-anchor-placement="top-bottom">


        <div class="grid-x video-outer" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="cell small-10 large-8 video-outer" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <iframe src="https://www.youtube.com/embed/fSahVx_WLSg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="videos-bg"></div>
    </div>


    {{>hp-facebook profile_pic='/images/joann-ariola-fb-profile-pic.jpg'}}
    {{>hp-endorsements}}
    {{>hp-news}}


         


         








        


        

    </div>

  </div>
</div>